.item {
  display: flex;
  width: 240px;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 10px;
  padding: 12px;

  align-items: center;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
}

.statusOffline {
  width: 16px;
  height: 16px;
  background-color: red;

  border-radius: 50%;
}

.statusOnline {
  background-color: green;
}

.name {
  font-size: 18px;
  font-weight: 500;
}
